# Virtual Environment
/.env
/.venv
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/

# Logs
*.log

# Local recordings
Screen Recordings/