# Temel bağımlılıklar
ttkbootstrap==1.10.1
opencv-python-headless==4.8.1.78
pillow==10.1.0
numpy==1.26.2
python-dotenv==1.0.0
requests==2.31.0

# Ekran kaydı için
pyautogui==0.9.54
screeninfo==0.8.1

# Klavye ve fare kontrolü için
pynput==1.7.6
keyboard==0.13.5

# Medya işleme için
moviepy==1.0.3
sounddevice==0.4.6
soundfile==0.12.1

# Dağıtım için
pyinstaller==6.1.0
pywin32>=305

# Geliştirme araçları
black==23.11.0
pylint==3.0.2 